@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-light text-dark font-sans;
}

/* Optional: Hide scrollbars for a clean horizontal scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
